<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
	<tr class="<%= cycle('', 'alt') %> cart_table_item">
		<td class="product-thumbnail" data-hook="cart_item_image">
			<a href="shop-product-sidebar.html">
				<% if variant.images.length == 0 %>
					<%= link_to small_image(variant.product, :width => 8), variant.product %>
		        <% else %>
		          	<%= link_to image_tag(variant.images.first.attachment.url(:small), :width => 80), variant.product %>
		        <% end %>
			</a>
		</td>
		<td class="product-name" data-hook="cart_item_description">
			<%= link_to line_item.name, product_path(variant.product), :class => "shop-product-sidebar.html" %>
			<% if line_item.insufficient_stock? %>
		        <span class="out-of-stock">
		          <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
		        </span>
		    <% end %>
		</td>
		<td class="product-price" data-hook="cart_item_price">
			<span class="amount"><%= line_item.single_money.to_html %></span>
		</td>
		<td class="product-quantity" data-hook="cart_item_quantity">
			<%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>			
		</td>
		<td class="product-subtotal" data-hook="cart_item_total">
			<span class="amount"><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></span>
		</td>
		<td class="product-remove" data-hook="cart_item_delete">
			<%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
		</td>
	</tr>
<% end %>
