<div class="container">

	<h1><%= Spree.t(:shopping_cart) %></h1>

  	<% if @order.line_items.empty? %>

    	<div data-hook="empty_cart">
      		<p><%= Spree.t(:your_cart_is_empty) %></p>
      		<p><%= link_to Spree.t(:continue_shopping), products_path, :class => 'button continue' %></p>
    	</div>

  	<% else %>

		<div class="row featured-boxes">
			<div class="col-md-12">
				<h3>Your selection</h3>
				<div class="featured-box featured-box-cart">
					<div class="box-content">
						<%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
							<table cellspacing="0" class="shop_table" width="100%">
								<thead>
									<tr>
										<th class="product-remove">
											Image
										</th>
										<th class="product-thumbnail">
											<%= Spree.t(:item) %>
										</th>
										<th class="product-price">
											<%= Spree.t(:price) %>
										</th>
										<th class="product-quantity">
											<%= Spree.t(:qty) %>
										</th>
										<th class="product-subtotal">
											<%= Spree.t(:total) %>
										</th>
										<th class="product-remove">
											&nbsp;
										</th>
									</tr>
								</thead>
								<tbody>
									<%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>
								</tbody>
							</table>				
					</div>
				</div>
			<div class="col-md-4">
				<div class="featured-box featured-box-secondary sidebar" style="margin-top: 42px;">
					<div class="box-content">
						<h4>Shopping bag summary</h4>
						<table cellspacing="0" class="cart-totals" width="100%">
							<tbody>
								<tr class="total">
									<th>
										Total
									</th>
									<td class="product-price">
										<span class="amount"><%= order_form.object.display_total %></span>
									</td>
								</tr>
							</tbody>
						</table>
						<p>
							<%= button_tag :class => 'primary', :id => 'update-button', :class => "btn btn-default btn-block btn-sm", "data-loading-text" => "Loading..." do %>
	              				<%= Spree.t(:update) %>
	            			<% end %>
	            		</p>
	            		<p>
		            		<%= button_tag :class => 'button checkout primary', :id => 'checkout-link', :name => 'checkout', :class => "btn btn-primary btn-block btn-sm" do %>
	              				<%= Spree.t(:checkout) %>
	            			<% end %>
	            		</p>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	<% end %>
</div>