<% cache [I18n.locale, current_currency, @product] do %>

	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="product-preview">
					<ul class="bxslider">
						<% @product.images.each do |image| %>
							<li><%= image_tag image.attachment.url(:product), class: "img-responsive" %></li>
						<% end %>
					</ul>				
					<ul class="list-inline" id="bx-pager">
						<% @product.images.each do |image| %>
							<li><a data-slide-index="0" href=""><%= image_tag image.attachment.url(:product), class: "img-responsive" %></a></li>
						<% end %>	
					</ul>
				</div>	

		        <div data-hook="product_properties">
		          <%= render :partial => 'properties' %>
		        </div>		

		        <div data-hook="promotions">
		          <%= render :partial => 'promotions' %>
		        </div>	

			</div>
			<div class="col-sm-6">
				<div class="summary entry-summary">		
					<h3><%= @product.name %></h3>	

					<%= render :partial => 'cart_form' %>	

					<%= render :partial => 'taxons' %>
									
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Description</a> </h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body"> 
									<%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
								</div>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
	</div>
<% end %>
