<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
    	<li class="dropdown-link" data-hook>
    		<%= link_to "Categories", "#", :remote => true %>
    		<ul>
    			<% Spree::Taxonomy.find_by_name("Departments").root.children.sort_by { |c| c.name }.each do |category| %>
    				<li><%= link_to "", "/t/#{category.permalink}" %><%= category.name %></li>
    			<% end %>
    		</ul>
    	</li>
      <li id="home-link" class="dropdown-link" data-hook>
        <%= link_to "Brands", "#", :remote => true %>
        <ul>
          <% Spree::Taxonomy.find_by_name("Brands").root.children.sort_by { |c| c.name }.each do |brand| %>
            <li><%= link_to "", "/t/#{brand.permalink}" %><%= brand.name %></li>
          <% end %>
        </ul>
      </li>

      <% sale = Spree::Taxon.where(:name => 'Sale').first %>
      <% sale_products = sale.products.active if sale %>
      <% if sale_products %>
        <li>
          <%= link_to "Sale", "/t/sale", :style => "color:red;" %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>