<div id="home-slider">
  <ul>
    <li>
        <%= image_tag("slider/blackstar.jpg") %>
    </li>
    <li>
        <%= image_tag("slider/quietlife.jpg") %>
    </li>
    <li>
        <%= image_tag("slider/iloveugly.jpg") %>
    </li>
    <li>
        <%= image_tag("slider/ssur.jpg") %>
    </li>
    <li>
        <%= image_tag("slider/crooks.jpg") %>
    </li>
  </ul>
</div>