<div id="home-slider">
  <ul>
    <li>
        <%= image_tag("slider/black-scale-2013.jpg", :style => "width:100%;height:100%;") %>
    </li>
    <li>
        <%= image_tag("slider/blackscale.jpg", :style => "width:100%;height:100%;") %>
    </li>
    <li>
        <%= image_tag("slider/iloveugly.jpg", :style => "width:100%;height:100%;") %>
    </li>
    <li>
        <%= image_tag("slider/xlarge.jpg", :style => "width:100%;height:100%;") %>
    </li>
    <li>
        <%= image_tag("slider/crooks.jpg", :style => "width:100%;height:100%;") %>
    </li>
    <li>
        <%= image_tag("slider/quietlife.jpg", :style => "width:100%;height:100%;") %>
    </li>
  </ul>
</div>