<div id="home-slider">
  <ul>
    <li style="background-image: url(<%= image_path 'slider/quietlife.jpg' %>);">
    </li>
    <li style="background-image: url(<%= image_path 'slider/grandscheme.jpg' %>);">
    </li>
    <li style="background-image: url(<%= image_path 'slider/iloveugly.jpg' %>);">
    </li>
    <li style="background-image: url(<%= image_path 'slider/ssur.jpg' %>);">
    </li>
    <li style="background-image: url(<%= image_path 'slider/crooks.jpg' %>);">
    </li>
  </ul>
</div>