<div id="home-slider">
  <ul>
    <li>
        <%= link_to image_tag("slider/halloween_promo_black.jpg", :style => "width:100%;height:100%;"), "/t/brand/billionaire-boys-club" %>
    </li>
    <li>
        <%= link_to image_tag("slider/halloween_promo_black-2013.jpg", :style => "width:100%;height:100%;"), "/t/brand/crooks-and-castles" %>
    </li>
    <li>
        <%= link_to image_tag("slider/billionaire-boys-club-stars.jpg", :style => "width:100%;height:100%;"), "/t/brand/billionaire-boys-club" %>
    </li>
    <li>
        <%= link_to image_tag("slider/crooks-2013.jpg", :style => "width:100%;height:100%;"), "/t/brand/crooks-and-castles" %>
    </li>
    <li>
        <%= link_to image_tag("slider/blackscale.jpg", :style => "width:100%;height:100%;"), "/t/brand/black-scale" %>
    </li>
    <li>
        <%= link_to image_tag("slider/iloveugly.jpg", :style => "width:100%;height:100%;"), "/t/brand/i-love-ugly" %>
    </li>
    <li>
        <%= link_to image_tag("slider/xlarge.jpg", :style => "width:100%;height:100%;"), "/t/brand/x-large" %>
    </li>
    <li>
        <%= link_to image_tag("slider/quietlife.jpg", :style => "width:100%;height:100%;"), "/t/brand/the-quiet-life" %>
    </li>
  </ul>
</div>